body {
	background-color: black;
	color: cyan;
}
header {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	margin: auto;
	padding: 10px;
	width: 50%;
	border: 1px solid;
}
header h1, header p {
	margin: 0;
}
main {
	margin: auto;
	width: 50%;
	display: flex;
}
main nav {
	float: left;
    margin: 0 auto;
    width: 25%;
}
main nav #navbox {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    float: left;
    margin: auto;
    padding: 10px;
    border: 1px solid;
}
main nav #subnavi {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: static;

    float: right;
    margin: auto;
    padding: 10px;
    border: 1px solid;
}
main nav h1 {
	margin: 0;
}
main nav ul {
	list-style-type: katakana;
}
main nav li {
	margin: 10px;
}
main article {
	margin-top: 0;
	width: 75%;
	padding: 20px;
}
a:link {
	color: lime;
	background-color: transparent;
	text-decoration: underline;
}
a:visited {
	color: yellow;
	background-color: transparent;
	text-decoration: underline;
}
a:hover {
	color: pink;
	background-color: transparent;
	text-decoration: underline;
}
a:active {
	color: green;
	background-color: transparent;
	text-decoration: underline;
}
footer {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    margin: auto;
    padding: 10px;
    width: 50%;
    border: 1px solid;
}
table, th, td {
	border-collapse: collapse;
	border: 1px solid yellow;
}
th, td {
	padding: 5px;
	color: white;
}
th {
	color: yellow;
}
h1, h2, h3, h4, h5 {
	color: yellow;
}